body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.active {
  font-weight: bold;
}

h1 span {
  font-weight: normal;
  margin-left: 10px;
  font-size: 15px;
}